

/*Reset CSS Styles*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
}

/*Common styles*/
/*Header styles*/
/*Content styles*/
/*Footer styles*/
/*Responsive CSS*/

/*Navigation Section*/
.top-navigation {
	position: fixed;
	background-color:#478273;
	line-height: 0.5rem;
	width: 100%;
}

.top-navigation .content {
	width: 1099px;
	height: 4.375rem;
	margin: 0 auto;
	vertical-align: center;
}

.top-navigation ul {
	text-align: center;
}

.top-navigation .links li {
	font-family: 'Monda', sans-serif;
	font-size: 2rem;
	font-weight: lighter;
	color: #fff;
	display: inline-block;
	padding: 1em 1em 1em;

}

.top-navigation .links li:hover {
	color: #CCCCCC;
}

.top-navigation a {
	text-decoration: none;
	color: #FFF;
}

.top-navigation a:hover {
	text-decoration: none;
	color: #CCCCCC;
}

.coffee {
	background-image: url(https://images.unsplash.com/photo-1422433555807-2559a27433bd?q=80&fm=jpg&s=f4a3f331eed09d297e2a71e3dfea402d);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	width: 100%;
}

.coffee h1 {
	font-family: 'Fugaz One', cursive;
	font-size: 50px;
	font-weight: 100;
	color: #000000;
	-webkit-font-smoothing: antialiased;
	padding-top: 5rem;
	text-align: left;
	padding-top: 20rem;
	padding-bottom: 1rem;
	padding-left: 5rem;
	padding-right: 5rem;
}

.coffee h2 {
	font-family: 'Fugaz One', cursive;
	font-size: 2rem;
	font-weight: 100;
	color: #000000;
	webkit-font-smoothing: antialiased;
	text-align: left;
	margin-top: 20px;
	padding-bottom: 30rem;
	padding-left: 30rem;
}











































